<section class="block">
  <header class="block__header">
    <h2>What Our Customer are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In consequatur
      aliquam eos nostrum beatae, ex necessitatibus impedit animi magnam
      perferendis!
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/testimonial.jpg" alt="A Happy" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quas
            aut sed suscipit nobis, eos dolor numquam incidunt nesciunt, beatae
            sint eligendi excepturi autem labore mollitia quibusdam, temporibus
            officia perferendis.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organization">ABC Company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
